<div class="row">
  <div class="submit-form col-md-6">
    @if (!submitted) {

    <!-- NOMBRE INPUT -->
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text"
             class="form-control"
             id="nombre"
             required
             [(ngModel)]="empleado.nombre"
             name="nombre" />
    </div>

    <!-- APELLIDO INPUT -->
    <div class="form-group">
      <label for="apellido">Apellido</label>
      <input type="text"
             class="form-control"
             id="apellido"
             required
             [(ngModel)]="empleado.apellido"
             name="apellido" />
    </div>

    <!-- TELEFONO INPUT -->
    <div class="form-group">
      <label for="telefono">Teléfono (XXX) XXXX-XXXX</label>
      <input type="text"
             class="form-control"
             id="telefono"
             required
             [(ngModel)]="empleado.telefono"
             name="telefono" />
    </div>

    <!-- CORREO INPUT -->
    <div class="form-group">
      <label for="correo">Correo (XXXXXX&#64;XXXX.XXX)</label>
      <input type="email"
             class="form-control"
             id="correo"
             required
             [(ngModel)]="empleado.correo"
             name="correo" />
    </div>

    <!-- FECHA CONTRATACION INPUT -->
    <div class="form-group">
      <label for="fechaContratacion">Fecha de Contratación</label>
      <input type="date"
             class="form-control"
             id="fechaContratacion"
             required
             [(ngModel)]="empleado.fechaContratacion"
             name="fechaContratacion" />
    </div>

    <!-- FOTO DE PERFIL INPUT -->
    <div class="form-group">
      <label for="archivo">Foto perfil</label>
      <input type="file"
             class="form-control mb-2"
             id="archivo"
             required
             (change)="onFileSelected($event)"
             name="archivo"
             accept="image/*" />
    </div>

    <button (click)="agregarEmpleado()" class="btn btn-success">Agregar</button>
    } @else {
    <h4>Empleado agregado exitosamente!</h4>
    <button class="btn btn-success" (click)="newEmpleado()">
      Nuevo registro
    </button>
    }
  </div>
  <div class="col-md-6">
    <div *ngIf="serverErrors.length > 0" class="alert alert-danger">
      <ul>
        <li *ngFor="let error of serverErrors">{{ error }}</li>
      </ul>
    </div>
  </div>
</div>
